config RAMZSWAP
	tristate "Compressed in-memory swap device (ramzswap)"
	depends on SWAP
	select SNAPPY_COMPRESS
	select SNAPPY_DECOMPRESS
	default n
	help
	  Creates virtual block devices which can (only) be used as swap
	  disks. Pages swapped to these disks are compressed and stored in
	  memory itself.

	  Snappy compresses a bit worse (around ~2%) but much (~2x) faster
	  at least on x86-64.

	  See ramzswap.txt for more information.
	  Project home: http://compcache.googlecode.com/

config RAMZSWAP_STATS
	bool "Enable ramzswap stats"
	depends on RAMZSWAP
	default y
	help
	  Enable statistics collection for ramzswap. This adds only a minimal
	  overhead. In unsure, say Y.
